<h1>New Bad Parkin Job</h1>
<strong> * All parkin jobs go through a process of approval to ensure that it's truely bad. </strong>
<div style="margin-top:20px;">
	<%= render 'form' %>
</div>

<%= link_to 'Back', pins_path %>
