<% unless user_signed_in? %>	
	<div class="hero-unit">
		<h3>free[<span style="color:#cccccc;">space</span>]<span style="color:#659a00;">collective</span></h3>
				<h5>Michael Dax Iacovone and Billy Friebele</h5>
				<h3>
				Artist-Citizen, Washington DC at HEMPHILL in June 2013
				</h3>
		<div class="row-fluid" style="margin-top:20px;">

			  	<div class="span6">
			  	<p>
			  		The space of Washington DC is made up of government buildings, businesses, and domestic dwellings. What's left over is the public space of parks, streets, and sidewalks. This is a crowd sourced public archive of that free space. 
			  	</p>
			  		<p>
						<%= link_to "Submit a photo", new_pin_path, class:"btn btn-success btn-large btn-block" %>
					</p>

					<h3>
						Instructions:
					</h3>
					<ul>
						<li>The photo must be taken within the border of Washington DC.</li>
						<li>The photo must be taken in outdoor public space.</li>
						<li>Note the nearest intersection.</li>
					</ul>

				</div>
				<div class="span6 pull-right"><img class="logo-home-page" src="http://invisibledrawings.com/dcphotogrid.png" alt="DC Photo Grid">
<%#<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=202005111498102089022.0004918545398248622bf&amp;source=embed&amp;t=m&amp;ll=38.899583,-77.01416&amp;spn=0.187033,0.291824&amp;z=11&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=202005111498102089022.0004918545398248622bf&amp;source=embed&amp;t=m&amp;ll=38.899583,-77.01416&amp;spn=0.187033,0.291824&amp;z=11" style="color:#0000FF;text-align:left">DC Photo Grid</a> in a larger map</small>%>
				</div>
				</div>
	</div>
<% end %>

<div id="pins">
  <%= render @pins %>
</div>

<%= will_paginate @pins %>

