<% unless user_signed_in? %>	
	<div class="hero-unit">
		<h1>free[<span style="color:#cccccc;">space</span>]<span style="color:#659a00;">collective</span></h1>
				<h4>Michael Dax Iacovone and Billy Friebele</h4>
				<h3>
				Artist-Citizen, Washington DC at HEMPHILL in June 2013
				</h3>
		<p> 
			<%= link_to "Enter Grid", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>

<div id="pins">
  <%= render @pins %>
</div>

<%= will_paginate @pins %>


