<script type="text/javascript" src="path/to/instafeed.min.js"></script>
<script type="text/javascript">
    var feed = new Instafeed({
        get: 'tagged',
        tagName: 'awesome',
        clientId: '1f15ac29ae034765a2b7ce4c912696ad'
    });
    feed.run();
</script>
<div class="hero-unit">
	<h2 style="color:#333;">Login using Instagram</h2>	


</div>

<div id="instafeed"></div>



