<div class="hero-unit">
	<h3>DC Crowd-Sourced Video Project</h3>
		 <div class="flex-video widescreen">	<iframe src="http://player.vimeo.com/video/64111003?title=0&amp;byline=0&amp;portrait=0&amp;color=659a00" width="800" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
	
	</p>
	<p>
		This evolving participatory video project will be exhibited in Hemphill Gallery for the Artist/Citizen exhibition in June of 2013. We will edit video submissions together, fading them on top of each other to create a time-based portrait of the city. The most recent submission will be edited into the looping video displayed in the gallery, replacing the oldest video on the loop. 
	</p>
	
	<h3>Instructions:</h3>
		<ul>
			<li>Videos must be of public space in Washington, DC</li>
			<li>Please do not exceed 1 minute in duration</li>
			<li>Video can be submitted either by emailing a youtube or vimeo link to dcphotogrid@gmail.com or you may send video to this email address using a file sharing site such as yousendit.com or wetransfer.com</li>
			<li><a class="btn btn-success btn-large btn-block" href="mailto:dcphotogrid@gmail.com">Submit your video</a></li>
		</ul>
</div>









