<div class="hero-unit">
		<div class="row-fluid">
			 <div class="span6">
			 	<h3>DC Crowd-Sourced Video Project</h3>
		 		<div class="flex-video widescreen">	<iframe src="http://player.vimeo.com/video/64111003?title=0&amp;byline=0&amp;portrait=0&amp;color=659a00" width="800" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
		</div>
	<div class="span6 pull-right">
	<p>
		This evolving participatory video project will be exhibited at HEMPHILL for the Artist/Citizen exhibition in June of 2013. We will edit video submissions together, fading them on top of each other to create a time-based portrait of the city. The most recent submission will be edited into the looping video displayed in the gallery, replacing the oldest video on the loop. 
	</p>

	<a class="btn btn-success btn-large btn-block" href="mailto:dcphotogrid@gmail.com">Submit a video</a>
	
	<h3>Instructions:</h3>
		<ul>
			<li>Videos must be of public space in Washington, DC</li>
			<li>Please do not exceed 1 minute in duration</li>
			<li>Video can be submitted either by emailing a youtube or vimeo link to dcphotogrid@gmail.com or you may send video to this email address using a file sharing site such as yousendit.com or wetransfer.com</li>
		</ul>
	</div>
</div>
</div>

<style id="badge-styles">
        /* You can modify these CSS styles */
        .vimeoBadge { margin: 0; padding: 0; font: normal 11px verdana,sans-serif; }
        .vimeoBadge img { border: 0; }
        .vimeoBadge a, .vimeoBadge a:link, .vimeoBadge a:visited, .vimeoBadge a:active { color: #333333; text-decoration: none; cursor: pointer; }
        .vimeoBadge a:hover { color:#000; }
        .vimeoBadge #vimeo_badge_logo { margin-top:10px; width: 57px; height: 16px; }
        .vimeoBadge .credit { font: normal 11px verdana,sans-serif; }
        .vimeoBadge .clip { padding:0; float:left; margin:0 10px 10px 0; line-height:0; }
        .vimeoBadge.vertical .clip { float: none; }
        .vimeoBadge .caption { font: normal 11px verdana,sans-serif; overflow:hidden; width: auto; height: 30px; }
        .vimeoBadge .clear { display: block; clear: both; visibility: hidden; }
        .vimeoBadge .s160 { width: 160px; } .vimeoBadge .s80 { width: 80px; } .vimeoBadge .s100 { width: 100px; } .vimeoBadge .s200 { width: 200px; }
</style>
<div class="hero-unit">
	<h3>DC Crowd-Sourced Video Submissions</h3>
	<p>see all the videos on our <a class="btn btn-success" href="https://vimeo.com/channels/535121">Vimeo</a> channel</p>
<div class="flex-video widescreen">
<div id="badge">
<div class="vimeoBadge horizontal">
<script src="https://vimeo.com/hamartsdc/badgeo/?script=1&badge_layout=horizontal&badge_quantity=11&badge_size=200&badge_stream=channel&show_titles=yes&badge_album=1794495&badge_channel=535121"></script>
</div>
</div>
</div>
</div>







