
/* 
$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);
*/ 

$btnPrimaryBackground: black;
$navbarBackground: white;
$navbarBackgroundHighLight: white;

$navbarCollapseWidth: 800px;

@import 'bootstrap';

body {
	padding-top: 100px;
}

a{
	color:#659a00;
}

a:hover{
	color:#659a00;
}

@import 'bootstrap-responsive';

.container h2 {color:#659a00;}

form {
    background: #f8f8f8;
    padding:20px;
}

.under-form{
	background: #f8f8f8;
	padding:10px;

}

.navbar .brand {
    color: #777777;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    margin-left: -20px;
    padding: 15px;
    text-shadow: 0 1px 0 #FFFFFF;
}

.hero-unit {
	padding: 40px;
}

.footer{
	margin-top: 50px;
	background: #f8f8f8;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	}
.footer ul{
	list-style: none;
}

/* Social Media Icons
----------------------------------------------- */
a.socialIcons:hover {
	opacity: .8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}

	a{
		color: $gray;
	}

.btn-primary {
    background-color: #000000;
    background-image: linear-gradient(to bottom, gray, #000000);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.nav .dropdown-toggle .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}

.nav .dropdown-toggle:hover .caret, .nav .dropdown-toggle:focus .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}



.nav li {
	font-size: 16px;
	line-height: 35px;
}

/* Masonry Stylings */

.box {
	background: #f8f8f8;
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 214px;
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.description {
	margin: 10px 0 5px;
}

.approval {
	background-color: red;
	a {
		color: black;
		text-decoration: underline;
	}

}

.approved {
	background-color: green;
}

/*.box {
	width: 250px;
}*/

.pagination {
	text-align: center;
}

.pin-nav {
	position:relative;
	height:20px;
	width:100%;
}

.pin_nav_left{
	position:absolute;
	left:0px;
	bottom:0px;
}

.pin_nav_right{
	position:absolute;
	right:0px;
	bottom:0px;
}