<div class='footer'>
<div id="row">
 <div class="span4">

 </div>
 <div class="span4">

 </div>
 <div class="span4">
 </div>
 <div class="span4">
 </div>

</div>
<small>
		dcphotogrid.com
	</small>
</div>