<div class='footer'>
		<div class='row-fluid'>
			<div class='span4' style='padding: 25px;'>
			<h3>DC Crowd-Sourced Video Project</h3>

			<p>This evolving participatory video project will be exhibited in Hemphill Gallery for the Artist/Citizen exhibition in June of 2013. We will edit video submissions together, fading them on top of each other to create a time-based portrait of the city. The most recent submission will be edited into the looping video displayed in the gallery, replacing the oldest video on the loop. </p>
			<p>
				<%= link_to "Learn More", video_path, class:"btn btn-success btn-large btn-block" %>
			</p>
			</div>
			<div class='span4' style='padding: 25px;'>
				<h3>Connect</h3>
				<ul>
					<li style='padding-top:10px;'><a class="socialIcons" href="http://www.facebook.com/" title="Like DC Photo Grid on Facebook" alt="DC Photo Grid Facebook Icon"><%= image_tag("facebook-48.png", :alt => "Facebook Page") %> Facebook</a><li/>
					<li style='padding-top:10px;'><a class="socialIcons" href="http://twitter.com/" title="Follow DC Photo Grid on Twitter" alt="DC Photo Grid Twitter Icon"><%= image_tag("twitter-48.png", :alt => "Twitter Page") %> Twitter</a><li/>
					<li style='padding-top:10px;'><a class="socialIcons" href="https://vimeo.com/64111003" title="Watch DC Photo Grid on Vimeo" alt="DC Photo Grid Vimeo Icon"><%= image_tag("vimeo-48.png", :alt => "Vimeo Page") %> Vimeo</a><li/>
				</ul>
			</div>
			<div class='span4' style='padding:25px;'>
				<h3>Other Projects</h3>
				<ul>
					<li><a href="http://freespacecollective.com/">Free Space Collective</a><li/>
					<li><a href="http://www.capitolflex.com/">Capitol Flex</a><li/>
					<li><a href="http://invisibledrawings.com/">invisibledrawings.com</a><li/>
					<li><a href="http://dontcensor.us/">Museum of Censored Art</a><li/>
				</ul>
				
			</div>
		</div>
		<small>
			dcphotogrid.com
			</small>
</div>